/* Base */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family: monospace;
  line-height: 1.15;
  * {
    transition: all .25s linear;
  }
}

@-ms-viewport {
  width: device-width;
}

/* IE Hacks, default is inline */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6f787c;
  text-align: left;
  background-color: $main--bg;
}

[tabindex="-1"]:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: $brand--clr;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// root
@include b('root') {

  @include p('&', 'e:container') {
    display: flex;
    flex-grow: 1;
  }
}

// Header
@include b('header') {
  background-color: $white;
  padding: calcRem(16px) 0;
  -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  box-shadow: 0 1px 6px rgba(57,73,76,0.35);
  flex: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  border-top: 3px solid $brand--clr;

  @include e('title') {
    font-size: calcRem(20px);
    color: $brand--clr;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-weight: 600;

    @include m('d-xs-none') {
      display: none;
    }
  }

  @include e('container') {
    display: flex;
    justify-content: space-between;
  }
}

// Main
@include b('main') {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  top: calcRem(100px);
}

// main-content
@include b('main-content') {
  margin-top: calcRem(30px);
}

@include b('find-data') {
  display: flex;
  justify-content: center;

  @include b('h3') {
    color: $brand--clr;
    flex: 1 0 25%;
    max-width: 25%; 
  }

  @include e('search-box') {
    font-family: monospace;
    display: block;
    width: 100%;
    min-height: calcRem(50px);
    height: calcRem(50px);
    padding: calcRem(10px) calcRem(20px);
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: $grey;
    font-size: calcRem(20px);
    background-color: #fff;
    outline: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;

    &:hover,
    &:focus {
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
      border-color: $brand--clr;
    }
  }
}


@include b('list-items') {

  @include e('card') {
    background-color: #fff;
    color: $grey;
    padding: calcRem(20px) calcRem(16px) calcRem(10px) calcRem(16px);
    margin-bottom: calcRem(10px);
    transition: all .15s;
    -webkit-box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);

    &:hover,
    &:focus {
      border-color: $brand--clr;
      outline: none;
      -webkit-box-shadow: inset 0 0 5px $brand--clr;
      box-shadow: inset 0 0 5px $brand--clr;

      @include e('name') {
        color: $brand--clr-1;
      }

      @include e('label-value') {
        color: $brand--clr-1;
      }
    }
  }

  @include e('name') {
    font-size: calcRem(18px);
    font-weight: 600;
  }

  @include e('label-name') {
    color: #6f787c;
    font-size: calcRem(13px);
    margin-right: calcRem(6px);
  }

  @include e('section') {
    display: flex;
    justify-content: space-between;
  }
}
