$base-font-size: 16px;

/* Common */
$black: #333;
$grey: #656565;
$white: #FFFFFF;

/* HEADER */
$header--bg: $white;

/* MAIN CONTENT */
$main--bg: #F2F2F2;

/* Brand Color Shades */
$brand--clr: #37A000;
$brand--clr-1: #37A000;
